// IMPORTANDO BOOTSTRAP
@import "../../../node_modules/bootstrap/scss/bootstrap";

$body-bg: hotpink;

// $blue: red;

// PALETA DE COLORES
$black: #111;

$color--1: #eb0029;
$color--2: rgb(0, 160, 186);
$color--3: #292929;

// DEL JUEGO
$red-game: #932d2b;
$black-game: #0b0f07;

// FUENTES
$font-family--1: "Noto Serif Khojki", serif;
$font-family--2: "Alfa Slab One", cursive;

$fsz--1: 11px;
$fsz--2: 70px;
$fsz--3: 35px;
$fsz--4: 24px;
$fsz--5: 30px;
$fsz--6: 13px;
$fsz--7: 16px;

$fw--bold: 700;

// ESCALA DE GRISES
$gray--1: rgba(128, 128, 128, 0.2);
$gray--2: rgba(128, 128, 128, 0.3);
$gray--3: #c7c7c7;
$gray--4: #fcfcfc;
$gray--5: #1f1f1f;

// MODELO DE CAJA
$height--1: 100px; // ALTURA HEADER
$height--2: 30vh; // ALTURA VIDEO
$height--3: 50px; // ALTURA DE LOS ELEMENTOR DEL FOOTER (MESA CENTER)
$height--4: 152px; // ALTURA LATERALES DE LA MESA (NÚMERICA)
$height--5: 50px; // ALTURA DE CADA CELDA DEL GRID NÚMERICO
$height--6: 40px; // ALTURA DEL CÍRCULO QUE ENCIERRA A LOS NÚMEROS

$width--1: 80px; // LATERALES DE LA MESA (NÚMERICA)
$width--2: 30px; // TAMAÑO DE LOS BOTONES REDONDEADOS (FOOTER)
$width--3: 160px; // CONTENEDORES DE ÍCONOS (FOOTER)
$width--4: 40px; // ALTURA DEL CÍRCULO QUE ENCIERRA A LOS NÚMEROS
// TRANSICIONES
$transition--1: all 0.5s;

// BORDES REDONDEADOS
$border-radius--1: 6.4px; // BORDER DE LOS ÍCONOS EN EL HEADER
$border-radius--2: 2px; // BARRA DE COLOR AZUL SOBRE EL TÍTULO
$border-radius--3: 25px; // CONTENEDOR SHADOW EN EL FOOTER DE LA VISTA
$border-radius--4: 50%; // BOTONES DEL FOOTER

// BORDES
$border--1: 2px solid $red-game;
$border--2: 1px solid $white;
$border--3: 1px solid rgba(255, 255, 255, 0.8);
$border--4: 2px solid rgba(255, 255, 255, 0.5);
$border--5: 2px dashed $white;

// OPACIDAD
$opacity--1: rgb(0, 0, 0, 0.75);
$opacity--2: rgb(0, 0, 0, 0.5); // DISABLED
$opacity--3: 0.5; // DISABLED
$opacity--4: 1; // DISABLED

body {
    // background-color: $body-bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-family--1;
    background-image: url("../img/bg-green.jpg");
    // @media screen  and (min-width: 992px) {
    //     box-shadow: inset 0 -10em 15em rgba(0, 0, 0, 0.5),
    //                 0 0 0 2px rgb(255, 255, 255),
    //                 0.3em 0.3em 1em rgba(0, 0, 0);
    // }
    overflow-x: hidden;
}

a {
    display: block;
    text-decoration: none;
    &:hover {
        transition: $transition--1;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

/* HEADER */
.main-header {
    background-color: $black;
    color: $white;
    height: $height--1;
    top: 0;
}

/* TABLERO */
.main-content {
    // background-color: darkcyan;
    // margin: 10px;
    color: $white;
    font-weight: $fw--bold;
    overflow-x: hidden;
    @media screen and (min-width: 992px) {
        box-shadow: inset 0 -10em 15em rgba(0, 0, 0, 0.5),
            // 0 0 0 2px rgb(255, 255, 255),
            0.3em 0.3em 1em rgba(0, 0, 0);
    }
    @media screen and (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @at-root {
        .video {
            // background-color: steelblue;
            // height: $height--2;
            position: relative;
            &,
            .bg-ruleta {
                width: 100%;
                height: 24vh;
                @media screen and (min-width: 992px) {
                    height: auto;
                }
            }
            @at-root {
                .logo,
                .counter {
                    background-color: $black-game;
                    border: $border--1;
                    color: $white;
                    font-weight: $fw--bold;
                    position: absolute;
                    top: calc($width--2 - 20px);
                    // right: calc($width--2 - 20px);
                    right: 3%;
                    border-radius: $border-radius--4;
                    width: $width--1;
                    height: $width--1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $fsz--5;
                }
                .logo {
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    right: 0;
                    left: 3%;
                    @media screen and (min-width: 992px) {
                        left: 15%;
                    }
                    &__title {
                        text-transform: uppercase;
                        text-align: center;
                        font-family: $font-family--2;
                        font-weight: $fw--bold;
                        font-size: $fsz--7;
                        @media screen and (min-width: 992px) {
                            font-size: $fsz--4;
                        }
                    }
                }
                .counter {
                    width: 50px;
                    height: 50px;
                    font-size: 20px;
                    @media screen and (min-width: 992px) {
                        right: 15%;
                        width: 80px;
                        height: 80px;
                        font-size: $fsz--5;
                    }
                }
            }
            video {
                position: relative;
            }
        }
        .perspective {
            perspective: 400px;
        }
        .table {
            // background-color: darkgoldenrod;
            margin-bottom: 20px;
            margin-top: 5px;
            transform: rotateX(10deg);
            @media screen and (min-width: 992px) {
                transform: rotateX(20deg);
            }
            @media screen and (min-width: 1400px) {
                transform: rotateX(10deg);
                margin-top: 10px;
            }
            &__header {
                // background-color: darkmagenta;
                display: flex;
                &__left {
                    // background-color: lightcoral;
                    width: $width--2;
                    height: 62px; /* MÓVIL */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: $border--2;
                    border-bottom: $border--2;
                    position: relative;
                    @media screen and (min-width: 992px) {
                        width: $width--1;
                        height: $height--4;
                    }
                    &::before,
                    &::after {
                        content: "";
                        background-color: $white;
                        height: 1.5px;
                        position: absolute;
                        transform: rotateZ(108deg);
                    }
                    &::before {
                        top: 12px;
                        left: -19px;
                        width: 29px;
                        transform: rotate(108deg);
                        @media screen and (min-width: 992px) {
                            transform: rotate(108deg);
                            top: 39px;
                            left: -56px;
                            width: 85px;
                        }
                    }
                    &::after {
                        bottom: 16px;
                        left: -22px;
                        transform: rotateZ(-104deg);
                        width: 35px;
                        @media screen and (min-width: 992px) {
                            bottom: 34px;
                            left: -51px;
                            transform: rotate(-110deg);
                            width: 75px;
                        }
                    }
                    &__number {
                        font-family: $font-family--2;
                        font-size: $fsz--5;
                        margin-left: -5px;
                        line-height: 1;
                        opacity: $opacity--3;
                        @media screen and (min-width: 992px) {
                            font-size: $fsz--2;
                            margin-top: 10px;
                            margin-left: -12px;
                        }
                    }
                }
                &__center {
                    // background-color: lightseagreen;
                    flex-grow: 1;
                    &__body {
                        // background-color: blueviolet;
                        display: flex;
                        border: $border--2;
                        &__item {
                            // background-color: chocolate;
                            flex: 1 1 calc(100% / 3);
                            text-align: center;
                            // @media screen and (min-width: 992px) {
                            //     line-height: $height--1;
                            // }
                            &:nth-child(even) {
                                // background-color: cornflowerblue;
                                border-right: $border--2;
                                border-left: $border--2;
                            }
                            &__grid {
                                // background-color: darkslateblue;
                                display: flex;
                                &--one,
                                &--two,
                                &--three,
                                &--four {
                                    flex: 1 1 calc(100% / 4);
                                    // background-color: lightslategrey;
                                    // padding: 10px;
                                    display: flex;
                                    flex-direction: column-reverse;
                                    border-right: $border--4;
                                    position: relative;
                                    &__item {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: 30px; /* NÚMERO MÁGICO */
                                        @media screen and (min-width: 992px) {
                                            height: $height--5;
                                        }
                                        > span {
                                            line-height: 1;
                                            margin-top: -3px; /* NÚMERO MÁGICO */
                                            font-size: 13px; /* VERSIÓN MÓVIL */
                                            opacity: 0.9;
                                            @media screen and (min-width: 992px) {
                                                font-size: $fsz--7;
                                            }
                                        }
                                        &::before {
                                            content: "";
                                            border: $border--4;
                                            border-radius: $border-radius--4;
                                            position: absolute;
                                            right: 0;
                                            left: 0;
                                            margin-right: auto;
                                            margin-left: auto;
                                            z-index: 10;
                                            height: calc(40% - 10px);
                                            width: calc(100% - 3px);
                                            @media screen and (min-width: 992px) {
                                                width: calc($width--4 + 10px);
                                                height: $height--6;
                                            }
                                        }
                                        @at-root {
                                            .table-bg--red {
                                                background-color: lighten($color: $red-game, $amount: 10);
                                            }
                                            .table-bg--black {
                                                background-color: darken($color: $black-game, $amount: 10);
                                            }
                                        }
                                        &:nth-child(even) {
                                            border-top: $border--2;
                                            border-bottom: $border--2;
                                        }
                                    }
                                }
                                &--four {
                                    border-right: none;
                                }
                            }
                        }
                    }
                    &__footer {
                        // background-color: chartreuse;
                        border: $border--2;
                        border-top: none;
                        p {
                            font-family: $font-family--2;
                            font-size: 14px;
                            opacity: $opacity--3;
                        }
                        &--one,
                        &--two {
                            // background-color: deeppink;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: calc($height--3 - 20px);
                            @media screen and (min-width: 992px) {
                                height: $height--3;
                            }
                            &__item {
                                height: calc($height--3 - 20px);
                                @media screen and (min-width: 992px) {
                                    height: $height--3;
                                }
                                p {
                                    position: relative;
                                    // top: -2px; /* NÚMERO MÁGICO */
                                    @media screen and (min-width: 992px) {
                                        font-size: $fsz--4;
                                    }
                                }
                                &__subitem {
                                    height: calc($height--3 - 20px);
                                    @media screen and (min-width: 992px) {
                                        height: $height--3;
                                    }
                                    &:first-child {
                                        border-right: $border--2;
                                    }
                                }
                            }
                            &__item {
                                // background-color: burlywood;
                                flex: 1 0 calc(100% / 3);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-bottom: $border--2;
                                &:nth-child(even) {
                                    // background-color: darkblue;
                                    border-right: $border--2;
                                    border-left: $border--2;
                                }
                                &__subitem {
                                    // background-color: hotpink;
                                    flex: 1 0 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    &:nth-child(even) {
                                        // background-color: lightseagreen;
                                    }
                                }
                            }
                            &:nth-child(even) {
                                // background-color: crimson;
                            }
                        }
                        &--two {
                            &__item {
                                border-bottom: none;
                                p {
                                    @media screen and (min-width: 992px) {
                                        font-size: $fsz--4;
                                    }
                                }
                            }
                            &__item.even {
                                .table__header__center__footer--two__item__subitem {
                                    position: relative;
                                    background-color: lighten($color: $red-game, $amount: 10);
                                    > span {
                                        visibility: hidden;
                                    }
                                    &:nth-child(even) {
                                        background-color: darken($black-game, $amount: 10);
                                    }
                                    // &::before {
                                    //     content: "";
                                    //     width: calc($width--4 - 10px);
                                    //     height: calc($height--6 - 10px);
                                    //     position: absolute;
                                    //     right: 0;
                                    //     left: 0;
                                    //     margin-right: auto;
                                    //     margin-left: auto;
                                    //     border: $border--4;
                                    //     transform: rotate(45deg);
                                    // }
                                    &::before {
                                        content: "";
                                        background-image: url("../img/rombo-alargado.png");
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: contain; /* MÓVIL */
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        @media screen and (min-width: 992px) {
                                            background-size: cover;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__right {
                    // background-color: lightskyblue;
                    width: $width--2;
                    height: 92px; /* MÓVIL */
                    display: flex;
                    flex-direction: column;
                    border: $border--2;
                    border-left: none;
                    @media screen and (min-width: 992px) {
                        width: $width--1;
                        height: $height--4;
                    }
                    &__item {
                        text-align: center;
                        height: calc(92px / 3); /* MÓVIL */
                        position: relative;
                        font-size: 14px;
                        @media screen and (min-width: 992px) {
                            font-size: $fsz--3;
                            height: $height--3;
                        }
                        &:nth-child(even) {
                            // background-color: brown;
                            border-top: $border--2;
                            border-bottom: $border--2;
                        }
                        > p {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-55%);
                            right: 0;
                            left: 0;
                            font-family: $font-family--2;
                            opacity: $opacity--3;
                            @media screen and (min-width: 992px) {
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* FOOTER */
.main-footer {
    // background-color: darkkhaki;
    margin-top: -15px;
    position: relative;
    @media screen and (min-width: 570px) and (max-width: 991px) {
        margin-top: -25px;
    }
    @media screen and (min-width: 570px) and (max-width: 767px) {
        margin-bottom: 0;
    }
    @media screen and (min-width: 992px) {
        margin-top: -70px;
    }
    &__min-max {
        // background-color: darkgoldenrod;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: -2px; /* MÓVIL */
        @media screen and (min-width: 640px) and (max-width: 767px) {
            display: block;
            position: absolute;
            top: -80px;
            left: 0;
        }
        @media screen and (min-width: 570px) and (max-width: 991px) {
            bottom: -12px;
        }
        @media screen and (min-width: 992px) {
            position: static;
            display: inline-block;
            margin-top: 0;
            position: relative;
            top: -25px;
            left: 60px;
        }
        &__item {
            // background-color: darkcyan;
            > span,
            > p {
                font-size: $fsz--1;
                font-style: italic;
            }
            > span {
                text-transform: uppercase;
                font-weight: $fw--bold;
                display: block;
                line-height: 1;
            }
            > p {
                font-weight: normal;
                margin-top: 2px;
            }
            &:nth-child(even) {
                // background-color: darkolivegreen;
                margin-left: 10px;
                @media screen and (min-width: 640px) and (max-width: 767px) {
                    margin-left: 0;
                }
                @media screen and (min-width: 992px) {
                    margin-left: 0;
                    margin-top: 5px;
                }
            }
        }
    }
    &__top {
        // padding: 10px;
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
        @media screen and (min-width: 992px) {
            padding-right: 0;
            padding-left: 0;
        }
        @at-root {
            [class*="main-footer__top__"] {
                flex: 0 0 calc(100% / 4);
                height: calc($height--3 - 20px);
                display: flex;
                align-items: center;
                position: relative;
                @media screen and (min-width: 992px) {
                    height: $height--3;
                }
            }
        }
        &__left,
        &__right {
            @media screen and (min-width: 640px) and (max-width: 767px) {
                margin-top: 38px;
                margin-left: -19px;
            }
        }
        &__center {
            justify-content: center;
            flex: 1 1 calc(100% / 2);
        }
        &__right {
            justify-content: flex-end;
            @media screen and (min-width: 640px) and (max-width: 767px) {
                margin-left: 0;
                margin-right: -19px;
            }
        }
    }

    &__top {
        // background-color: crimson;
        position: relative;
        @media screen and (min-width: 570px) {
            position: static;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        @media screen and (min-width: 570px) and (max-width: 767px) {
            margin-bottom: 0;
        }
        &__left,
        &__right {
            // background-color: darkgoldenrod;
            @media screen and (min-width: 992px) {
                justify-content: center;
            }
            @at-root {
                .container-shadow {
                    padding-right: 5px;
                    padding-left: 5px;
                    background-color: $opacity--1;
                    display: flex;
                    border-radius: $border-radius--3;
                    width: calc($width--3 - 30px);
                    margin-top: -55px;
                    @media screen and (min-width: 992px) {
                        margin-top: 0;
                        width: $width--3;
                    }
                }
            }
            i {
                font-size: $fsz--6;
                @media screen and (min-width: 992px) {
                    font-size: $fsz--7;
                }
                &::before {
                    position: relative;
                    top: -1px;
                }
            }
            &__item {
                flex: 1 1 calc(100% / 3);
                justify-content: center;
                &:nth-child(even) {
                    // background-color: cadetblue;
                }
            }
        }
        &__center {
            // background-color: aquamarine;
            position: absolute;
            top: -20px;
            right: 0;
            left: 0;
            @media screen and (min-width: 570px) and (max-width: 991px) {
                top: 14px;
            }
            @media screen and (min-width: 640px) and (max-width: 767px) {
                top: -27px;
            }
            @media screen and (min-width: 992px) {
                top: 0;
                position: static;
            }
            .carousel {
                width: 100%;
                text-align: center;
                margin-top: 25px;
                position: relative;
                bottom: -23px; /* NÚMEOR MÁGICO (MÓVIL) */
                @media screen and (min-width: 992px) {
                    margin-top: 0;
                    bottom: 0;
                }
                &-inner {
                    // height: 63px;
                    // padding-top: 3px;
                    // @media screen and (min-width: 992px) {
                    // }
                }
                &-item {
                    &__betchip {
                        // background-color: tomato;
                        height: 65px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: auto;
                        margin-left: auto;
                        &__item {
                            color: $white;
                            background-color: $black-game;
                            border-radius: $border-radius--4;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 2px solid white;
                            width: $width--4;
                            height: $width--4;
                            margin-right: 15px;
                            @media screen and (min-width: 1200px) {
                                margin-right: 30px;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            > span {
                                line-height: 1;
                                margin-top: -4px;
                                > p {
                                    font-size: $fsz--7;
                                    @media screen and (min-width: 992px) {
                                        font-size: $fsz--4;
                                    }
                                }
                            }
                            &:hover {
                                opacity: $opacity--3;
                            }
                            &::before,
                            &::after {
                                content: "";
                                border: $border--5;
                                display: block;
                                border-radius: $border-radius--4;
                                position: absolute;
                                z-index: 10;
                                top: 0;
                                right: -4px;
                                width: calc($width--4 + 4px);
                                height: calc($width--4 + 4px);
                                top: -4px;
                                right: -4px; /* NÚMEROP MÁGICO */
                            }
                            &::after {
                                z-index: 5;
                                border: 2px solid cyan;
                            }
                            &:nth-child(2) {
                                &::after {
                                    border-color: yellow;
                                }
                            }
                            &:nth-child(3) {
                                &::after {
                                    border-color: $red-game;
                                }
                            }
                            &:nth-child(4) {
                                &::after {
                                    border-color: indigo;
                                }
                            }
                            &:nth-child(5) {
                                &::after {
                                    border-color: forestgreen;
                                }
                            }
                        }
                    }
                }
                @at-root {
                    .carousel-control-prev-icon,
                    .carousel-control-next-icon {
                        position: relative;
                        width: calc($width--4 - 10px);
                        height: calc($width--4 - 10px);
                        background-size: 18px; /* NÚMERO MÁGICO */
                        border: 2px solid white;
                        border-radius: $border-radius--4;
                        background-color: rgba(255, 255, 255, 0.2);
                        @media screen and (min-width: 992px) {
                            width: $width--4;
                            height: $width--4;
                        }
                    }
                    @at-root {
                        .carousel-control-prev {
                            opacity: $opacity--4;
                            // left: 60px;
                            left: 15%;
                            @media screen and (min-width: 570px) and (max-width: 991px) {
                                left: 100px;
                                left: 20%;
                            }
                            @media screen and (min-width: 1200px) {
                                left: 10%;
                            }
                            &-icon {
                                left: -25px;
                                @media screen and (min-width: 992px) {
                                    background-position-x: 8px; /* NÚMERO MÁGICO */
                                }
                            }
                        }
                        .carousel-control-next {
                            opacity: $opacity--4;
                            // right: 60px;
                            right: 15%;
                            @media screen and (min-width: 570px) and (max-width: 991px) {
                                // right: 100px;
                                right: 20%;
                            }
                            @media screen and (min-width: 1200px) {
                                right: 10%;
                            }
                            &-icon {
                                right: -25px;
                                @media screen and (min-width: 992px) {
                                    background-position-x: 10px; /* NÚMERO MÁGICO */
                                }
                            }
                        }
                    }
                }
            }
        }
        &__right {
            // background-color: lightpink;
            .container-shadow {
                &.disabled {
                    background-color: $opacity--2;
                    position: relative;
                    &::before {
                        content: "";
                        // background-color: tomato;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: $border-radius--3;
                        z-index: 10;
                    }
                    .main-footer__top__right__item {
                        .btn--1 {
                            opacity: $opacity--3;
                        }
                        &:first-child {
                            span {
                                position: relative;
                                top: -2px;
                                font-size: $fsz--6;
                                @media screen and (min-width: 992px) {
                                    font-size: $fsz--7;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        background-color: $black-game;
        margin-top: 30px; /* MÓVIL */
        border-top: $border--3;
        font-size: $fsz--1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 570px) and (max-width: 991px) {
            margin-top: 5px;
        }
        @media screen and (min-width: 640px) and (max-width: 767px) {
            margin-top: -17px;
        }
        @media screen and (min-width: 992px) {
            margin-top: 10px;
        }
        p {
            margin-bottom: 0;
            color: $white;
        }
        &__left {
            // background-color: darkgoldenrod;
            color: $white;
            display: flex;
            .btn--2 {
                &:nth-child(2) {
                    margin-left: -8px; /* NÚMERO MÁGICO */
                }
            }
        }
        &__center {
            // background-color: aquamarine;
            &__text {
                // background-color: #932d2b;
                display: flex;
                justify-content: center;
                align-items: center;
                &__item {
                    &:nth-child(even) {
                        margin-right: 25px;
                        margin-left: 25px;
                    }
                }
            }
        }
        &__right {
            // background-color: lightpink;
        }
    }
}

/* BOTONES */
.btn {
    &--1,
    &--2 {
        background-color: $gray--3;
        color: $black-game;
        width: calc($width--2 - 10px); /* MÓVIL */
        height: calc($width--2 - 10px); /* MÓVIL */
        border-radius: $border-radius--4;
        @media screen and (min-width: 992px) {
            width: $width--2;
            height: $width--2;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transition: $transition--1;
            background-color: $black-game;
            color: $white;
        }
    }
    &--2 {
        background-color: transparent;
        color: $white;
    }
}
