// IMPORTANDO BOOTSTRAP
@import "../../../node_modules/bootstrap/scss/bootstrap";

$body-bg: hotpink;

// $blue: red;

// PALETA DE COLORES
$black: #111;

$color--1: #eb0029;
$color--2: rgb(0, 160, 186);
$color--3: #292929;

// DEL JUEGO
$red-game: #932d2b;
$black-game: #0b0f07;

// FUENTES
$font-family--1: 'Noto Serif Khojki', serif;

$fsz--1: 11px;
$fsz--2: 50px;
$fsz--3: 35px;

$fw--bold         : 700;

// ESCALA DE GRISES
$gray--1: rgba(128, 128, 128, 0.2);
$gray--2: rgba(128, 128, 128, 0.3);
$gray--3: #c7c7c7;
$gray--4: #fcfcfc;
$gray--5: #1f1f1f;

// MODELO DE CAJA
$height--1: 100px; // ALTURA HEADER
$height--2: 30vh; // ALTURA VIDEO
$height--3: 50px; // ALTURA DE LOS ELEMENTOR DEL FOOTER (MESA CENTER)
$height--4: 152px; // ALTURA LATERALES DE LA MESA (NÚMERICA)
$height--5: 50px; // ALTURA DE CADA CELDA DEL GRID NÚMERICO

$width--1: 80px; // LATERALES DE LA MESA (NÚMERICA)
$width--2: 30px; // TAMAÑO DE LOS BOTONES REDONDEADOS (FOOTER)
// TRANSICIONES
$transition--1: all 0.5s;

// BORDES REDONDEADOS
$border-radius--1: 6.4px; // BORDER DE LOS ÍCONOS EN EL HEADER
$border-radius--2: 2px; // BARRA DE COLOR AZUL SOBRE EL TÍTULO
$border-radius--3: 25px; // CONTENEDOR SHADOW EN EL FOOTER DE LA VISTA
$border-radius--4: 50%; // BOTONES DEL FOOTER

// BORDES
$border--1      : 1px solid tomato;
$border--2      : 1px solid $white;

// OPACIDAD
$opacity--1: rgb(0, 0, 0, 0.75);
$opacity--2: rgb(0, 0, 0, 0.5); // DISABLED
$opacity--3: 0.5; // DISABLED

body {
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-family--1;
}

a {
    display: block;
    text-decoration: none;
    &:hover {
        transition: $transition--1;
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

/* HEADER */
.main-header {
    background-color: $black;
    color: $white;
    height: $height--1;
    top: 0;
}

/* TABLERO */
.main-content {
    background-color: darkcyan;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: $fw--bold;
    @at-root {
        .video {
            background-color: steelblue;
            height: $height--2;
        }
        .table {
            background-color: darkgoldenrod;
            &__header {
                background-color: darkmagenta;
                display: flex;
                &__left {
                    background-color: lightcoral;
                    width: $width--1;
                    height: $height--4;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &__number {
                        font-size: $fsz--2;
                    }
                }
                &__center {
                    background-color: lightseagreen;
                    flex-grow: 1;
                    &__body {
                        background-color: blueviolet;
                        display: flex;
                        border: $border--2;
                        &__item {
                            background-color: chocolate;
                            flex-grow: 1;
                            text-align: center;
                            // @media screen and (min-width: 992px) {
                            //     line-height: $height--1;
                            // }
                            &:nth-child(even) {
                                background-color: cornflowerblue;
                                border-right: $border--2;
                                border-left: $border--2;
                            }
                            &__grid {
                                background-color: darkslateblue;
                                display: flex;
                                &--one,
                                &--two,
                                &--three,
                                &--four {
                                    flex: 1 1 calc(100% / 4);
                                    background-color: lightslategrey;
                                    // padding: 10px;
                                    display: flex;
                                    flex-direction: column-reverse;
                                    border-right: $border--2;
                                    &__item {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        height: $height--5;
                                        @at-root {
                                            .table-bg--red {
                                                background-color: $red-game;
                                            }
                                            .table-bg--black {
                                                background-color: $black-game;
                                            }
                                        }
                                        &:nth-child(even) {
                                            border-top: $border--2;
                                            border-bottom: $border--2;
                                        }
                                    }
                                }
                                &--four {
                                    border-right: none;
                                }
                            }
                        }
                    }
                    &__footer {
                        background-color: chartreuse;
                        &--one,
                        &--two {
                            background-color: deeppink;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: $height--3;
                            &__item {
                                height: $height--3;
                                &__subitem {
                                    height: $height--3;
                                }
                            }
                            &__item {
                                background-color: burlywood;
                                flex: 1 0 calc(100% / 3);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &:nth-child(even) {
                                    background-color: darkblue;
                                }
                                &__subitem {
                                    background-color: hotpink;
                                    flex: 1 0 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    &:nth-child(even) {
                                        background-color: lightseagreen;
                                    }
                                }
                            }
                            &:nth-child(even) {
                                background-color: crimson;
                            }
                        }
                        &--two {
                            &__item.even {
                                .table__header__center__footer--two__item__subitem {
                                    background-color: $red-game;
                                    &:nth-child(even) {
                                        background-color: $black-game;
                                    }
                                }
                            }
                        }
                    }
                }
                &__right {
                    background-color: lightskyblue;
                    width: $width--1;
                    height: $height--4;
                    display: flex;
                    flex-direction: column;
                    border: $border--2;
                    border-left: none;
                    &__item {
                        text-align: center;
                        font-size: $fsz--3;
                        height: $height--3;
                        position: relative;
                        &:nth-child(even) {
                            background-color: brown;
                            border-top: $border--2;
                            border-bottom: $border--2;
                        }
                        > p {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-55%);
                            right: 0;
                            left: 0;
                        }
                    }
                }
            }
            // &__body {
            //     background-color: darkorange;
            // }
            // &__footer {
            //     background-color: darksalmon;
            // }
        }
    }
}

/* FOOTER */
.main-footer {
    background-color: darkkhaki;

    &__top {
        // padding: 10px;
        display: flex;
        @at-root {
            [class*="main-footer__top__"] {
                flex: 1 0 calc(100% / 3);
                height: $height--3;
                display: flex;
                align-items: center;
            }
        }
        &__center {
            justify-content: center;
        }
        &__right {
            justify-content: flex-end;
        }
    }

    &__top {
        // background-color: crimson;
        &__left,
        &__right {
            // background-color: darkgoldenrod;
            @at-root {
                .container-shadow {
                    width: 100%;
                    background-color: $opacity--1;
                    display: flex;
                    border-radius: $border-radius--3;
                }
            }
            &__item {
                flex: 1 1 calc(100% / 3);
                justify-content: center;
                &:nth-child(even) {
                    // background-color: cadetblue;
                }
            }
        }
        &__center {
            background-color: aquamarine;
            .carousel {
                width: 100%;
                text-align: center;
            }
        }
        &__right {
            // background-color: lightpink;
            .container-shadow {
                &.disabled {
                    background-color: $opacity--2;
                    position: relative;
                    &::before {
                        content: "";
                        // background-color: tomato;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: $border-radius--3;
                        z-index: 10;
                    }
                    .main-footer__top__right__item {
                        .btn--1 {
                            opacity: $opacity--3;
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        background-color: dodgerblue;
        font-size: $fsz--1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            margin-bottom: 0;
        }
        &__left {
            background-color: darkgoldenrod;
        }
        &__center {
            background-color: aquamarine;
            &__text {
                background-color: #932d2b;
                display: flex;
                justify-content: center;
                align-items: center;
                &__item {
                    &:nth-child(even) {
                        margin-right: 25px;
                        margin-left: 25px;
                    }
                }
            }
        }
        &__right {
            background-color: lightpink;
        }
    }
}

/* BOTONES */
.btn {
    &--1 {
        background-color: $gray--3;
        color: $black-game;
        width: $width--2;
        height: $width--2;
        border-radius: $border-radius--4;

        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            transition: $transition--1;
            background-color: $black-game;
            color: $white;
        }
    }
}
