// IMPORTANDO BOOTSTRAP
@import "../../../node_modules/bootstrap/scss/bootstrap";

$body-bg: darkcyan;

// $blue: red;

body {
    background-color: $body-bg;
}

main {
    background-color: darkgoldenrod;
    h1 {
        color: $blue;
    }
}