// IMPORTANDO BOOTSTRAP
@import "../../../node_modules/bootstrap/scss/bootstrap";

$body-bg: hotpink;

// $blue: red;

// PALETA DE COLORES
$black: #111;

$color--1       : #eb0029;
$color--2       : rgb(0, 160, 186);
$color--3       : #292929;

// FUENTES
$fsz--1         : 11px;

// ESCALA DE GRISES
$gray--1        : rgba(128,128,128,.2);
$gray--2        : rgba(128,128,128,.3);
$gray--3        : #c7c7c7;
$gray--4        : #fcfcfc;

// MODELO DE CAJA
$height--1: 80px; // ALTURA HEADER

$width--1: 105px; // ICONS HEADER

// TRANSICIONES
$transition--1      : all .5s;

// BORDES REDONDEADOS
$border-radius--1   : 6.4px; // BORDER DE LOS ÍCONOS EN EL HEADER
$border-radius--2   : 2px; // BARRA DE COLOR AZUL SOBRE EL TÍTULO

body {
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    display: block;
    &:hover {
        transition: $transition--1;
    }
}

/* HEADER */
.main-header {
    background-color: $black;
    color: $white;
    height: $height--1;
    top: 0;
    
    &__logo {
        width: 95px;
        height: 32px;
        fill: $white;
        &:hover {
            cursor: pointer;
            fill: red;
            transition: $transition--1;
        }
    }
    &-menu-desktop {
        // background-color: lightcoral;
        @at-root {
            .navbar-expand-lg .navbar-nav {
                .nav-link {
                    padding: 7.5px 16px;
                    font-size: $fsz--1;
                    text-transform: uppercase;
                    letter-spacing: .08em;
                    font-weight: bolder;
                    margin-right: 4px;
                }
                .dropdown-menu {
                    background-color: $color--3;
                    font-size: $fsz--1;
                }
                @at-root {
                    .dropdown-item {
                        color: $gray--3;
                        &:hover {
                            background-color: $gray--2;
                            color: $gray--4;
                        }
                    }
                }
            }
            .nav-link.active,
            .nav-link:hover {
               background-color: $gray--2;
               border-radius: $border-radius--1;
               position: relative;
               &::before {
                content: '';
                display: block;
                background-color: $color--2;
                width: 100%;
                height: 4px;
                border-radius: $border-radius--2;
                position: absolute;
                right: 0;
                bottom: -16px; /* NÚMERO MÁGICO */
                left: 0;
               }
           }
        }
    }
    &__icon {
        // background-color: darkmagenta;
        width: $width--1;
        &__item {
            // background-color: darksalmon;
            display: block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            &:first-child {
                &:hover {
                    background-color: $gray--1;
                    border-radius: $border-radius--1;
                }
            }
            &:nth-child(even) {
                svg {
                    width: 48px;
                    height: 48px;
                }
            }
            svg {
                width: 24px;
                height: 24px;
                margin-top: -3px;
            }
        }
    }
}

.main-content {
    background-color: darkcyan;
    margin-top: $height--1;
}
